<!DOCTYPE html>
<html>
<head>
  <title>PaperList</title>
</head>
<body>
  <div class="container">
    <p>{{ date }}</p>
    <div class="paper-list">
      {% for paper in papers %}
        <div class="paper">
          <p class="paper-title"><a class="abstract-btn" id="btn-abs-{{loop.index}}">✚</a>
            {{ paper.title }}
          </p>
          <div>
            <span>Authors: </span>
          {% for author in paper.authors %}
            {% if loop.last %}
            <span class="paper-author">{{ author }}</span>
            {% else %}
            <span class="paper-author">{{ author }}, </span>
            {% endif %}
          {% endfor %}
          </div>
          <p class="paper-abstract" id="p-abs-{{loop.index}}">{{ paper.abstract }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
<style>
.container {
  margin: 0px 20%;
}
.paper-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.paper-abstract {
  margin-top: 3px;
  display: none;
}
</style>
<script>
let abstract_btns = document.getElementsByClassName("abstract-btn")
Array.from(abstract_btns).forEach(btn => {
    btn.onclick = function() {
        const prefix_len = "btn-abs-".length
        const paper_id = btn.id.substring(prefix_len)
        let p_node = document.getElementById("p-abs-" + paper_id)
        const p_display = window.getComputedStyle(p_node).display
        if (p_display === "none") {
            p_node.style.display = "block";
        } else {
            p_node.style.display = "none";
        }
    }
});
</script>
</html>