<!DOCTYPE html>
<html>
<head>
  <title>PaperList</title>
</head>
<body>
  <div class="container">
    <p>{{ date }}</p>
    <div class="paper-list">
      {% for paper in papers %}
        <div class="paper">
          <p class="paper-title"><a class="abstract-btn">✚</a>
            {{ paper.title }}
          </p>
          <div>
            <span>Authors: </span>
          {% for author in paper.authors %}
            {% if loop.last %}
            <span class="paper-author">{{ author }}</span>
            {% else %}
            <span class="paper-author">{{ author }}, </span>
            {% endif %}
          {% endfor %}
          </div>
          <p class="paper-abstract">{{ paper.abstract }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
<style>
.container {
  margin: 0px 20%;
}
.paper-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.paper-abstract {
  margin-top: 3px;
  display: none;
}
</style>
<script>
</script>
</html>