<!DOCTYPE html>
<html>
<head>
  <title>PaperList</title>
</head>
<body>
  <p>{{ date }}</p>
  <div class="paperlist">
    <ul>
      {% for paper in papers %}
      <div class="paperItem">
        <li>{{ paper.title }}</li>
        <a class="abstract-btn">Abstract</a>
        <p class="abstract">{{ paper.abstract }}</p>
      </div>
      {% endfor %}
    </ul>
  </div>
</body>
<style>
.abstract {
  display: none;
}
</style>
<script>
let abs_btns = document.getElementsByClassName("abstract-btn")
for (let i = 0; i < abs_btns.length; i++) {
  abs_btns[i].addEventListener("click", function() {
    this.classList.toggle("active")
    let content = this.nextElementSibling;
    let content_display = window.getComputedStyle(content).display
    if (content_display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  })
}
</script>
</html>